requests==2.25.1
pillow==6.2.2
tqdm==4.60.0
h5py==2.10.0
unireedsolomon==1.0.5
numpy==1.16.5
pandas==0.23.4
matplotlib
seaborn==0.9.1

ipykernel
jupyter

opt-einsum==2.3.2 # Required for tensorflow
# TODO: Replace tensorflow with tensorflow-gpu: https://github.com/uwmisl/cas9-similarity-search/issues/1
#tensorflow